<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="531"
    android:versionName="5.31"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="34"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="false"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.NFC" android:required="false"/>
    <uses-permission android:name="android.hardware.nfc.hce" android:required="false"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="com.b3g.cih.online.permission.PROCESS_PUSH_MSG"/>
    <uses-permission android:name="com.b3g.cih.online.permission.PUSH_PROVIDER"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>

    <permission
        android:name="com.b3g.cih.online.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signature"/>
    <permission
        android:name="com.b3g.cih.online.permission.PUSH_PROVIDER"
        android:protectionLevel="signature"/>
    <permission
        android:name="com.b3g.cih.online.permission.PUSH_WRITE_PROVIDER"
        android:protectionLevel="signature"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"/>

    <queries>
        <package android:name="com.google.android.apps.maps"/>
        <package android:name="com.dejamobile.cbp.messaging.fcm.receiver.FirebaseBroadcastReceiver"/>
        <intent>
            <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent>
        <package android:name="com.noshufou.android.su"/>
        <package android:name="com.noshufou.android.su.elite"/>
        <package android:name="eu.chainfire.supersu"/>
        <package android:name="com.koushikdutta.superuser"/>
        <package android:name="com.thirdparty.superuser"/>
        <package android:name="com.yellowes.su"/>
        <package android:name="com.koushikdutta.rommanager"/>
        <package android:name="com.dimonvideo.luckypatcher"/>
        <package android:name="com.chelpus.lackypatch"/>
        <package android:name="com.ramdroid.appquarantine"/>
        <package android:name="com.devadvance.rootcloak"/>
        <package android:name="de.robv.android.xposed.installer"/>
        <package android:name="com.saurik.substrate"/>
        <package android:name="com.devadvance.rootcloakplus"/>
        <package android:name="com.zachspong.temprootremovejb"/>
        <package android:name="com.amphoras.hidemyroot"/>
        <package android:name="com.formyhm.hideroot"/>
        <package android:name="com.dejamobile.cbp.application.ContactlessEntryPoint"/>
        <package android:name="com.dejamobile.cbp.application.ServiceEntryPoint"/>
        <intent>
            <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
        </intent>
        <intent>
            <action android:name="com.dejamobile.cbp.library.IServiceEntryPoint"/>
        </intent>
        <package android:name="com.dejamobile.cbp.boot.context.work.manager.CustomWorkManagerInitializer"/>
        <package android:name="androidx.work.impl.WorkManagerInitializer"/>
        <provider android:authorities="com.b3g.cih.online.workmanager-init"/>
        <provider android:authorities="com.b3g.cih.online.CustomWorkManagerInitializer"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.instagram.android"/>
    </queries>

    <application
        android:name="com.b3g.cih.cihpay.app.AppController"
        android:allowBackup="false"
        android:appComponentFactory="@null"
        android:icon="@mipmap/ic_launcher"
        android:label="Cih Mobile"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face,ocr"/>
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false"/>

        <service
            android:name="com.b3g.tools.FirebaseServiceExtended"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.b3g.cih.online.CihMBankingStub"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"
            android:exported="true"
            android:label="Cih Mobile"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.b3g.cih.online.androidx-startup"
            android:exported="false"
            tools:node="merge">
        </provider>

    </application>
</manifest>